whacc_data/* filter=lfs diff=lfs merge=lfs -text
whacc_data/final_model* filter=lfs diff=lfs merge=lfs -text
whacc_data/final_model/final_resnet50V2_full_model* filter=lfs diff=lfs merge=lfs -text
whacc_data/final_model/final_resnet50V2_full_model/variables* filter=lfs diff=lfs merge=lfs -text
