__pycache__/
dist/
venv/
whacc/examples/scratch.py
whacc/.DS_Store
build/lib/whacc/examples/scratch_2.py
whacc/examples/track_moving_test.py
whacc/examples/scratch_2.py
whacc/examples/read_frame_test.py
whacc/examples/re_pole_down_2.py
build/lib/whacc/examples/scratch_2.py
build/lib/whacc/examples/scratch.py
*.DS_Store