__pycache__/
dist/
venv/
whacc/examples/scratch.py
whacc/.DS_Store
build/lib/whacc/examples/scratch_2.py
whacc/examples/track_moving_test.py
whacc/examples/scratch_2.py
whacc/examples/read_frame_test.py
whacc/examples/re_pole_down_2.py
build/lib/whacc/examples/scratch_2.py
build/lib/whacc/examples/scratch.py
*.DS_Store

/whacc/whacc_data/

build/lib/whacc/whacc_data/final_CNN_model/0006_cp_final_resnetV2_weights.hdf5
build/lib/whacc/whacc_data/final_CNN_model_weights/0006_cp_final_resnetV2_weights.hdf5
