h5py>=2.10.0
scipy>=1.4.1
numpy>=1.18.1
opencv_python>=4.3.0.36
tensorflow>=2.4.1
natsort>=7.1.1
matplotlib>=3.4.1
tqdm>=4.42.1
Pillow>=8.2.0
tensorflow~=2.4.1
keras ~= 2.4.3
imgaug >= 0.4.0

Pyment~=0.3.3
opencv-python~=4.5.1.48
scikit-learn~=0.24.1
setuptools~=56.0.0

pandas~=1.2.4

ipython~=7.24.1

pytz~=2021.1
